*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;    
    text-decoration: none;
}

.cabecalho ul{
    display: flex;
}

.menu li 
{
text-decoration: none;
margin:15px;


}
.menu {
    background-color: brown;
    width: 100%;
    height: 90px;
}