body {
	background-color:#808080;
}

.center {
	text-align:center;
	color:black;
	background-color:white;
}

#para1{
	text-align:center;
	color:#ff8c00;
	border-style:double;
	border-color:black;
	border-width:20px;
}

div{
	background-color:white;
	border:5px solid black;
	max-width:500px;
	height:100px;
} 